.search {
    width: 100%;
    max-width: 1280px;
    display: flex;
    gap: 10px;
}

.search__data {
    outline: none;
    width: 80vw;
    border-radius: 6px;
    border: 0;
    padding: 10px 15px;

    font-size: 24px;
    line-height: 26px;
}

.search__data::placeholder {
    color: #767676;
}

.search__submit {
    padding: 10px 20px;

    border: 0;
    background: #205295;
    border-radius: 6px;
    cursor: pointer;

    color: #fff;
    font-size: 24px;
    line-height: 26px;
}

.search__submit:hover {
    background: #144272;
}

.search__submit:active {
    background: #2c74b3;
}

.search__bottom-panel {
    margin-top: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__sort {
    display: flex;
    gap: 5px;
}

.search__sort-text {
    font-size: 18px;
    line-height: 22px;
}

.search__sort-button {
    background: none;
    border: 0;

    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    cursor: pointer;
}

.search__sort-button:hover {
    opacity: 0.8;
}

.search__total-count {
    font-size: 18px;
    line-height: 22px;
}
